.videoCard {
  position: relative;
  height: 100vh;
  scroll-snap-align: start;
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
}

.video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.videoInfo {
  position: absolute;
  bottom: 60px;
  left: 20px;
  color: white;
  font-size: 18px;
}